DB_NAME=umbc_parking
DB_USER=admin
DB_PASSWORD=password
DB_PORT=5432

PGADMIN_EMAIL=admin@umbc.edu
PGADMIN_PASSWORD=change_me_too
PGADMIN_PORT=5050

WEB_PORT=5000
FLASK_SECRET_KEY=change_this_in_any_real_deployment
