DB_NAME=umbc_parking
DB_USER=admin
DB_PASSWORD=password
DB_PORT=5432
POSTGRES_DATA_DIR=postgres_data

PGADMIN_EMAIL=admin@umbc.edu
PGADMIN_PASSWORD=change_me_too
PGADMIN_PORT=5050
PGADMIN_DATA_DIR=./pgadmin_data
